:root {
  --blue: #0d7ee7;
  --blue-two: #3191eb;
  --hover: #188ffe;
  --light-blue: #b6d8f8;
  --light: #e6eef7;
  --white: #ffffff;
  --silver: #fbfbfb;
  --gray: #a6a6a6;
  --white: #ffffff;
  --dark: #122439;
  --green: #29c195;
  --two-gray: #8694a5;
  --text-gray: #758395;
}

html,
body,
#__next {
  width: 100% !important;
  height: 100% !important;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  color: #41474f;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

a,
img,
:focus,
input {
  outline: none !important;
}

img {
  user-select: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.navmenu {
  top: 0;
  padding: 45px 0px 0px 0px;
  background: transparent;
}

.navbar-brand img {
  transition: all 3s;
}

.logo-mobile {
  display: none;
}

nav {
  position: absolute;
  width: 100%;
  line-height: 0;
  z-index: 999;
}

nav ul {
  list-style: none;
  overflow: hidden;
  color: var(--light-blue);
  padding: 0;
  text-align: right;
  margin: 0;
}

.navbar {
  position: absolute;
}

nav ul li {
  display: inline-block;
  padding: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-blue);
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 15px;
}

nav ul li a:hover {
  color: var(--white);
}

.nav-item .active {
  color: var(--white);
}

.menu ul li .active {
  opacity: 0.4;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.blurred-nav-fixed .navbar-nav li a {
  color: #4a657e;
}

.blurred-nav-fixed .navbar-nav li a:hover {
  color: var(--blue);
}

.blurred-nav-fixed .nav-item .active {
  color: var(--blue);
}

.blurred-nav-fixed {
    position: fixed;
    top: 0;
    border-width: 0 0 1px;
    padding: 8px;
    background: rgb(255 255 255 / 85%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 64px 0px rgb(57 64 97 / 13%);
}

.blurred-nav-fixed .logo img {
  width: 50px;
  top: 10px;
  left: 15px;
}

.nav-get-btn {
  display: block;
  background: var(--white);
  border-radius: 50px;
  color: var(--blue);
  text-decoration: none;
  font-weight: 500;
  line-height: 0px;
  padding: 15px 25px !important;
  transition: all ease-out 0.3s;
  z-index: 2;
}

.nav-get-btn:hover,
.nav-get-btn:focus {
  opacity: 0.7;
  color: var(--blue);
  text-decoration: none;
}

.nav-get-btn i {
  padding-left: 5px;
}

.blurred-nav-fixed .nav-get-btn {
  background: var(--blue);
  color: var(--white) !important;
}

.hamburger-menu .line {
  width: 33px;
  height: 3px;
  background-color: var(--blue);
  border-radius: 15px;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.is-active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.is-active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: var(--blue);
}

header .container,
header .row {
  height: 100%;
}

.header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 130%;
  color: var(--white);
  margin-bottom: 45px;
}

.header__title span {
  color: #8fc1fa;
}

.img-home {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.circle-wrap {
  position: relative;
  margin-top: -50px;
  left: 50%;
}

.circle-item {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 600px;
  width: 600px;
  position: absolute;
  top: 48%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: circle-zoom 3s linear 0.75s infinite;
}

.circle-item--2 {
  animation-delay: 1.25s;
}

.circle-item--3 {
  animation-delay: 1.75s;
}

.circle-item--4 {
  animation-delay: 2.25s;
}

.circle-item--5 {
  animation-delay: 2.75s;
}

@keyframes circle-zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* Buttons */

.btn-transparent {
  background: var(--blue-two);
  color: var(--white);
  font-size: 0.875rem;
  padding: 15px 35px;
  font-weight: 500;
  border-radius: 50px;
  transition: all ease-out 0.2s;
  box-shadow: 0px 18px 23px rgba(21, 101, 192, 0.04);
}

.btn-transparent:hover,
.btn-transparent:active {
  background: var(--white);
  color: var(--blue-two);
}

.btn-transparent i {
  padding-left: 5px;
  transition: transform 0.2s ease-out;
}

.btn-transparent:hover i {
  transform: translate(5px);
}

/* Title */

.title {
  color: var(--dark);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  text-transform: none;
  text-align: center;
}

.bottom-line {
  height: 3px;
  width: 45px;
  background: var(--blue);
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 65px;
}

/* Section */

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* 1 - Key Features */

.features {
  padding-bottom: 0px;
  margin-bottom: -20px;
}

.features-block {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 92px 87px 51px rgb(75 105 139 / 1%), 52px 49px 43px rgb(75 105 139 / 2%),
    23px 22px 32px rgb(75 105 139 / 3%), 6px 5px 17px rgb(75 105 139 / 4%), 0px 0px 0px rgb(75 105 139 / 4%);
  border-radius: 40px;
  margin-bottom: 30px;
}

.features-block .icon-features {
  width: 85px;
  margin-right: 25px;
}

.features-block .media-body h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
  color: var(--dark);
}

.features-block .media-body p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--text-gray);
  margin: 0;
}

/* 2 - Roadmap */

.roadmap {
  padding-inline-start: 0px !important;
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.roadmap-card {
  width: 100%;
}

.roadmap-timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.roadmap-card .datestamp {
  position: relative;
  padding: 0px 25px;
  border-top: 3px solid var(--light);
  text-align: center;
}

.roadmap-card .datestamp h4 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  color: var(--dark);
}

.roadmap-card .datestamp p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 140%;
  text-align: center;
  color: var(--two-gray);
}

.roadmap-card .datestamp:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--fa-font-regular);
  content: '\f04b';
  width: 25px;
  height: 25px;
  color: var(--hover);
  background-color: var(--light);
  border-radius: 30px;
  position: absolute;
  font-size: 0.8125rem;
  padding-left: 2px;
  top: -15px;
  left: 45%;
  border: 2px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(75, 105, 139, 0.15);
}

.roadmap-card.complete .datestamp {
  border-top: 3px solid var(--hover);
}

.roadmap-card.complete .datestamp:before {
  font: var(--fa-font-solid);
  content: '\f00c';
  background-color: var(--hover);
  color: var(--white);
  font-size: 0.8125rem;
  padding-left: 0px;
}

.roadmap-card.complete .datestamp h4 {
  color: var(--dark);
}

.name-timeline {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--two-gray);
  margin-bottom: 8px;
}

.status-timeline {
  padding: 3px 5px;
  width: 55px;
  background: var(--light);
  border-radius: 100px;
  color: var(--two-gray);
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.status-timeline i {
  font-weight: 400;
}

.roadmap-card.complete .name-timeline {
  color: var(--dark);
}

.roadmap-card.complete .status-timeline {
  background: #dff6ef;
  color: var(--green);
}

/* 3 - About us */

.aboutus {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 41px -7px rgb(65 88 112 / 5%);
  -moz-box-shadow: 0px 0px 41px -7px rgb(65 88 112 / 5%);
  box-shadow: 0px 0px 41px -7px rgb(65 88 112 / 5%);
}

.img-about {
  width: 455px;
  border-radius: 25px;
  -webkit-box-shadow: 8px 12px 49px 9px rgba(55, 95, 138, 0.17);
  -moz-box-shadow: 8px 12px 49px 9px rgba(55, 95, 138, 0.17);
  box-shadow: 8px 12px 49px 9px rgba(55, 95, 138, 0.17);
}

.aboutus .title {
  text-align: left;
}

.aboutus .bottom-line {
  margin-left: unset;
  margin-bottom: 30px;
}

.about-text p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--text-gray);
}

/* 4 - FAQ */

.faq {
  padding-bottom: 0px;
}

.faq .card {
  margin-bottom: 10px;
  border: 0;
  background: none;
  overflow: visible;
}

.faq .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
  background: var(--white);
  box-shadow: 0px 16px 6px rgba(75, 105, 139, 0.01), 0px 9px 5px rgba(75, 105, 139, 0.02),
    0px 4px 4px rgba(75, 105, 139, 0.03), 0px 1px 2px rgba(75, 105, 139, 0.04), 0px 0px 0px rgba(75, 105, 139, 0.04);
  border: 0;
}

.accordion-card.card-header {
  border-radius: 10px 10px 10px 10px !important;
}

.accordion-head[aria-expanded='true'] .accordion-card.card-header {
  border-radius: 10px 10px 0px 0px !important;
}

.accordion-head[aria-expanded='false'] .accordion-card.card-header {
  border-radius: 10px 10px 10px 10px !important;
  transition: all ease-out 1s;
}

.accordion-head[aria-expanded='true'] .icon-accordion:after {
  content: '\f056';
  padding: 8px;
  font: var(--fa-font-regular);
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--hover);
  background-color: #f5f8fc;
  border-radius: 50px;
  float: right;
}

.accordion-head[aria-expanded='false'] .icon-accordion:after {
  content: '\f055';
  padding: 8px;
  font: var(--fa-font-regular);
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--hover);
  background-color: #f5f8fc;
  border-radius: 50px;
  float: right;
}

.title-accordion {
  padding: 8px 5px;
  border-left: 1px solid var(--light);
  padding-left: 15px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: var(--dark);
}

.accordion-head[aria-expanded='true'] .title-accordion {
  color: var(--blue);
}

.accordion .card-body {
  border-top: 1px solid #eeeeee;
  background: var(--white);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text-gray);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 16px 6px rgba(75, 105, 139, 0.01), 0px 9px 5px rgba(75, 105, 139, 0.02),
    0px 4px 4px rgba(75, 105, 139, 0.03), 0px 1px 2px rgba(75, 105, 139, 0.04), 0px 0px 0px rgba(75, 105, 139, 0.04);
}

/* 5 - Supported Tokens and Blockchains */

.tokenandblockchain {
  padding-bottom: 0px;
}

.token-title,
.blockchain-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background: var(--white);
  border: 1px dashed #ccdbeb;
  color: var(--two-gray);
  font-weight: 600;
  font-size: 1.3125rem;
  border-radius: 10px;
  margin-bottom: 25px;
}

.token-logo,
.blockchain-logo {
  display: flex;
  background: #ffffff;
  box-shadow: 24px 54px 24px rgb(75 105 139 / 1%), 14px 30px 20px rgb(75 105 139 / 2%),
    6px 14px 15px rgb(75 105 139 / 3%), 2px 3px 8px rgb(75 105 139 / 4%), 0px 0px 0px rgb(75 105 139 / 4%);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  margin-bottom: 20px;
}

.token-logo img,
.blockchain-logo img {
  width: 65px;
}

.token-logo h4,
.blockchain-logo h4 {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--dark);
  padding-top: 10px;
  margin: 0;
}

/* 6 - How Bridge Works */

.howitworks .bottom-line {
  margin-bottom: 30px;
}

.text-bridgeworks {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  color: var(--text-gray);
  margin-bottom: 60px;
}

.illustration-bridge {
  width: 100%;
  margin-bottom: 20px;
}

/* 7 - Having Any Questions? */

.blockquestions {
  background-color: var(--blue);
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-chat-questions:after {
  content: '\f4a6';
  font: var(--fa-font-light);
  font-weight: 300;
  font-size: 3.125rem;
  color: var(--white);
}

.title-questions {
  font-weight: 500;
  font-size: 2rem;
  color: var(--white);
}

.title-questions p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #c6e3ff;
  margin: 0;
}

.btn-questions {
  text-align: right;
}

.btn-questions .btn-transparent {
  padding: 15px 50px;
}

/* 8 - Footer */

footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

footer .logo-footer {
  width: 100%;
  max-width: 200px;
}

footer .copyright-text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--two-gray);
  margin-top: 12px;
  margin-bottom: 12px;
}

.social-footer {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.social-footer li:nth-child(1) {
  margin-right: 8px;
}

.social-footer li:nth-child(2) {
  margin-right: 8px;
}

.social-footer li:nth-child(3) {
  margin-right: 8px;
}

.social-footer li:last-child {
  margin-right: 0px;
}

.social-footer li > a {
  transition: all ease-out 0.3s;
}

.social-footer li > a:hover {
  opacity: 0.8;
}

.title-link-footer {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--dark);
  margin-bottom: 13px;
}

.link-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-footer li > a {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 210%;
  color: var(--text-gray);
  transition: all ease-out 0.1s;
}

.link-footer li > a:hover {
  color: var(--hover);
}

/* SVG BLOCK */

.svg-one-block,
.svg-two-block {
  z-index: -1;
}

.svg-one-block {
  position: absolute;
  left: 0;
}

.svg-two-block {
  position: absolute;
  right: 0;
}

.svg-one-block img {
  position: relative;
  bottom: 370px;
  left: 0;
}

.svg-two-block img {
  position: relative;
  bottom: 360px;
  right: 0;
}

/* Dialog modals - Added custom style */

.modal-header,
.modal-content {
  border: none;
}

.modal-header {
  padding: 0.5rem 1rem;
}

.modal-content {
  border-radius: 1.5rem;
  padding: 5px 5px;
}

.modal-header .close {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  margin: 0rem -1rem -1rem auto;
}

/* Contact Form - Modal */

.title-contact-form {
  font-size: 1.3125rem;
  text-align: center;
  color: var(--dark);
  margin-bottom: 20px;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border: 1px solid #c5e0fd !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.help-block {
  font-size: 12px !important;
  background: #333 !important;
  border-radius: 6px !important;
  padding: 0px 15px !important;
  margin-top: 6px !important;
}

.help-block .list-unstyled {
  margin-bottom: 0px !important;
}

.form-success {
  padding: 6px;
  background: var(--green);
  color: var(--white);
  border-radius: 50px;
  margin-bottom: 15px;
}

.form-error {
  padding: 6px;
  background: #f54e4e;
  color: var(--white);
  border-radius: 50px;
  margin-bottom: 15px;
}

.has-error .form-control {
  border-color: #f54e4e !important;
}

.has-error input:focus {
  border-color: #f54e4e !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 22px;
  height: 53px;
  font-size: 1rem;
  background: none !important;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark) !important;
  border: 1px solid #e4edf8;
  border-radius: 50px !important;
}

.form-group {
  margin-bottom: 10px !important;
}

textarea.form-control {
  height: auto !important;
  border-radius: 20px !important;
  margin-bottom: 15px !important;
  resize: none;
}

input {
  border: 1px solid #252525;
  border-radius: 50px;
}

::placeholder {
  color: #646464 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #646464 !important;
}

::-ms-input-placeholder {
  color: #646464 !important;
}

#submit {
  background: var(--blue);
  border-radius: 47px;
  color: white;
  width: 100%;
  height: 53px;
  margin-bottom: 4px;
  opacity: 1;
  transition: 0.3s;
}

#submit:hover {
  background: var(--hover);
  color: white;
  opacity: 0.9;
}

#submit:focus,
#submit:active {
  background: var(--blue);
  color: white;
  outline: none;
  box-shadow: none;
}
